:root {
	font-family: 'Georgia', serif;
	--font-mono: 'Fira Mono', monospace;
	--pure-white: #ffffff;
  --pure-black: #000000;
  --light-black: #1c1c1c;
	--titles: #166619;
  --primary-accent: #8fffbe;
	--secondary-accent: #F2B2B2;
  --primary-accent--press: #81edaf;
	--decondary-accent--press: #e7a5a5;
	--contrast-accent: #989898;
	--sea-accent: #007BCE;



  --primary-contrast: #434343;
	--primary-color: #fff3e3;
	--secondary-color: #166619;
	--tertiary-color: #edf0f8;
	--accent-color: #ff3e00;
	--heading-color: rgba(0, 0, 0, 0.7);
	--text-color: #444444;
	--main-heading: #ffdc00;
	--background-without-opacity: rgba(255, 255, 255, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
}
